*{
    padding: 0;
    margin: 0;
}

.container{
    margin: 70px;
}

.search-view{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.btn-search{
    padding: 0 10px;
}

.card{
    width: 20%;
    height: 550px;
}

.show-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    padding: 20px 100px;
    left: 0;
    top: 90px;
    z-index: 0;
}

.show-wrapper__hidden{
    display: flex;
    position: fixed;
    opacity: 0.5;
}

.show-preview{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px;
    z-index: 9999;
    padding-bottom: 50px;
}

.show-preview .card-img-top{
    width: 50%;
    margin: 0 20%;
}

.show-preview .card{
    width: 50%;
    min-height: 900px;
}

.btn{
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 25%;
}

.card-title{
    margin-top: 20px;
}

.card-text{
    text-align: justify;
}

